* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'times new roman', sans-serif;
  background-image: url(./images/getty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}
header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.maikano,
.cart {
  display: flex;
}
.logo-container {
  flex: 1;
}
.logo {
  font-weight: 50;
  margin: 1px;
}
nav {
  flex: 2;
}
.maikano {
  justify-content: space-around;
  list-style: none;

}
.maikano-link {
  color: brown;
  box-shadow: teal;
  font-size: 18px;
  text-decoration: none;
}
.maikano-link:hover {
  color: teal;
}
.cart {
  flex: 1;
  justify-content: flex-end;
}

.maikano-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  text-align: center;
} 
.maikano-text h2{
  color: ;
  font-size: 55px;
  margin: 0;
  font-family: times new roman;
}
.maikano-text p{
  color: darkcyan;
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}
h2{
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  padding-top: 10px;
  font-family: calibri;


}
p{
  font-family: aharani;
  font-size: 20px;
  color: #0B0B0B;
  padding: 10px;
  margin: 10px;
}
footer{
  width: 100%;
  text-align: center;
  color: blanchedalmond;
  animation: fade 2s ease-in-out forwards;
  animation-delay: 2s;  
  margin-top: 500px;
  text-transform: none;


}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .present {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
  }
}

